@font-face {
  font-family: "Raleway1";
  src: url("Raleway-SemiBold.ttf")
}

@font-face {
  font-family: "Raleway2";
  src: url("Raleway-Light.ttf")
}

@font-face {
  font-family: "Raleway3";
  src: url("Raleway-Regular.ttf")
}
img.headerKiri{
  width: 30%;
  height : 20%;
  margin-top: 0.5%;
  margin-left: 1%;
}


img.headerKanan{
  float: right;
  margin-top: -4%;
  margin-left: 70%;
  width: 5%;
  height: 5%;
}

body{
  margin: 10;
  padding: 10;
  background-color: white;
  background-image: url(Background.jpg);
  background-repeat: repeat-x;
}

p.sunrise{
  color: white;
  font-family: "Raleway1";
  font-size: 5vw;
  text-align: center;
  margin-top: 6%;
}

p.explore{
  text-align: center;
  color: white;
  font-family: "Raleway2";
  font-size: 2vw;
  margin-top: 7%;
}

.letstart{
  color: white;
  font-family: "Raleway2";
  border-style: solid;
  border-radius: 100px;
  width: 10%;
  text-align: center;
  margin-left: 45%;
  margin-top: 10%;
  padding: 1.5%;
}

p.wisata{
  text-align: center;
  color: black;
  font-family: "Raleway1";
  font-size: 3vw ;
  margin-top: 16%;
}

img.baluran {
  left: 10px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
}

p.textbaluran{
  color: black;
  font-family: "Raleway3";
  position: absolute;
  font-size: 1.8vw;
  text-align: center;
  margin-top: 3%;
  margin-left: 2%;

}

img.bangsring {
  left: 20px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
}
p.textbangsring{
  color: black;
  font-family: "Raleway3";
  position: absolute;
  font-size: 1.8vw;
  text-align: center;
  margin-top: 3%;
  margin-left: 27%;
}

img.ijen {
  left: 30px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
}

p.textijen {
  color: black;
  font-family: "Raleway3";
  position: absolute;
  font-size:1.8vw;
  text-align: center;
  margin-top: 3%;
  margin-left: 57%;
}

img.pulaumerah {
  left: 40px;
  right: 200px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
}

p.textpulaumerah {
  color: black;
  font-family: "Raleway3";
  position: absolute;
  font-size:1.8vw;
  text-align: center;
  margin-top: 3%;
  margin-left: 82%;
}

img.sadengan {
  left: 10px;
  right: 200px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
}

p.textsadengan {
  color: black;
  font-family: "Raleway3";
  position: absolute;
  font-size:1.8vw;
  text-align: center;
  margin-top: 27.5%;
  margin-left: 7.5%;
}

img.tabuhan {
  left: 20px;
  right: 200px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
}

p.texttabuhan{
  color: black;
  font-family: "Raleway3";
  position: absolute;
  font-size:1.8vw;
  text-align: center;
  margin-top: 27.5%;
  margin-left: 33.5%;
}

img.watudodol {
  left: 30px;
  right: 200px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
}

p.textwatudodol{
  color: black;
  font-family: "Raleway3";
  position: absolute;
  font-size:1.8vw;
  text-align: center;
  margin-top: 27.5%;
  margin-left: 56.8%;
}

img.plengkung {
  left: 40px;
  right: 200px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
}

p.textplengkung{
  color: black;
  font-family: "Raleway3";
  position: absolute;
  font-size:1.8vw;
  text-align: center;
  margin-top: 27.5%;
  margin-left: 79.5%;
}

.boxperjalanan{
  width: 250px;
  height: 400px;
  left: 50px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
  background-color: #DBDBDB;
  margin-top: 7%;
}

.boxperjalanan .textperjalanan h4{
  color: black;
  font-family: "Raleway2";
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
}

.boxperjalanan .textperjalanan p{
  color: black;
  font-family: "Raleway3";
  text-align: center;
  font-size: 23px;
  margin-top: -5%;
}

.boxperjalanan img{
  margin-top: 10%;
  margin-left: 27%;
}

.boxakomodasi{
  width: 250px;
  height: 400px;
  left: 100px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
  background-color: #DBDBDB;
  margin-top: 7%;
}

.boxakomodasi .textakomodasi h4{
  color: black;
  font-family: "Raleway2";
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
}

.boxakomodasi .textakomodasi p{
  color: black;
  font-family: "Raleway3";
  text-align: center;
  font-size: 23px;
  margin-top: -5%;
}

.boxakomodasi img{
  margin-top: 10%;
  margin-left: 29%;
}

.boxkebudayaan{
  width: 250px;
  height: 400px;
  left: 150px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
  background-color: #DBDBDB;
  margin-top: 7%;
}

.boxkebudayaan .textkebudayaan h4{
  color: black;
  font-family: "Raleway2";
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
}

.boxkebudayaan .textkebudayaan p{
  color: black;
  font-family: "Raleway3";
  text-align: center;
  font-size: 23px;
  margin-top: -5%;
}

.boxkebudayaan img{
  margin-top: 10%;
  margin-left: 29%;
}

.boxbiaya{
  width: 250px;
  height: 400px;
  left: 200px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-right: 8px;
  background-color: #DBDBDB;
  margin-top: 7%;
}

.boxbiaya .textbiaya h4{
  color: black;
  font-family: "Raleway2";
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
}

.boxbiaya .textbiaya p{
  color: black;
  font-family: "Raleway3";
  text-align: center;
  font-size: 23px;
  margin-top: -5%;
}

.boxbiaya img{
  margin-top: 10%;
  margin-left: 29%;
}

.artikel{
  margin-top: 60px;
  margin-left: 50px;
  font-size: 40px;
  font-family: "Raleway3";
  float: left;
}

.boxasal{
  width: 270px;
  height: 400px;
  left: 50px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-left: -22%;
  background-color: #DBDBDB;
  margin-top: 10%;
}

.boxasal img{
  margin-top: -14px;
  margin-left: auto;
  margin-right: auto;
}

.boxasal .textasal h4{
  color: black;
  font-family: "Raleway3";
  text-align: center;
  font-size: 28px;
  margin-top: 5%;
}

.boxasal .textasal p{
  color: #A5A5A5;
  font-family: "Raleway3";
  text-align: center;
  font-size: 23px;
  margin-top: 20%;
}

.boxtips{
  width: 270px;
  height: 400px;
  left: 70px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-left:  1%;
  background-color: #DBDBDB;
  margin-top: 10%;
}

.boxtips img{
  margin-top: -14px;
  margin-left: auto;
  margin-right: auto;
}

.boxtips .texttips h4{
  color: black;
  font-family: "Raleway3";
  text-align: center;
  font-size: 28px;
  margin-top: 5%;
}

.boxtips .texttips p{
  color: #A5A5A5;
  font-family: "Raleway3";
  text-align: center;
  font-size: 23px ;
  margin-top: 20%;
}

.boxholiday{
  width: 270px;
  height: 400px;
  left: 90px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-left: 1%;
  background-color: #DBDBDB;
  margin-top: 10%;
}

.boxholiday img{
  margin-top: -14px;
  margin-left: auto;
  margin-right: auto;
}

.boxholiday .textholiday h4{
  color: black;
  font-family: "Raleway3";
  text-align: center;
  font-size: 28px;
  margin-top: 5%;
}

.boxholiday .textholiday p{
  color: #A5A5A5;
  font-family: "Raleway3";
  text-align: center;
  font-size: 23px ;
  margin-top: -6%;
}

.boxwisata{
  width: 270px;
  height: 400px;
  left: 110px;
  float: left;
  position: relative;
  padding: 15px 15px 15px 2px;
  margin-left: 1%;
  background-color: #DBDBDB;
  margin-top: 10%;
}

.boxwisata img{
  margin-top: -14px;
  margin-left: auto;
  margin-right: auto;
  width: 285px;
  height: 230px;
}

.boxwisata .textwisata h4{
  color: black;
  font-family: "Raleway3";
  text-align: center;
  font-size: 28px;
  margin-top: 5%;
}

.boxwisata .textwisata p{
  color: #A5A5A5;
  font-family: "Raleway3";
  text-align: center;
  font-size: 23px ;
  margin-top: -6%;
}

.boxhijau{
  width: 1350px;
  height : 230px;
  background-color: #50CCB3;
  float: left;
  margin-left: -8px;
  margin-top: 90px;
}

.boxhijau .textboxhijau h2{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "Raleway1";
  margin-top: 30px;

}

.boxhijau .textboxhijau p{
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Raleway2";
  margin-top: -20px;
}

.boxabu{
  width: 1350px;
  height : 350px;
  background-color: #878787;
  float: left;
  margin-left: -8px;
}

.boxabu img{
  width: 15%;
  height: 50%;
  margin-left: 5%;
  margin-top: 5%;
}

.fb {
  width: 25%;
  height: 25%;
  margin-top: -0.5%;
  margin-left: 4.5%;
  position: relative;
}

.twitter {
  width: 25%;
  height: 25%;
  margin-left: 9.5%;
  margin-top: -6.4%;
}

.instagram {
  width: 25%;
  height: 25%;
  margin-left: 14.5%;
  margin-top: -6.5%;
}

.boxgaris {
  width: 5px;
  height: 350px;
  background-color: black;
  position: absolute;
  float: left;
  margin-left: 25%;
  margin-top: -11.5%;
  background-color: #9B9B9B;
}

.informasi{
  font-family: "Raleway1";
  font-size: 170%;
  color: white;
  margin-top: -23%;
  margin-left: -18%;
  text-align: center;
}

.bawahsatu {
  font-family: "Raleway3";
  font-size: 110%;
  color: white;
  margin-top: 3%;
  margin-left: -21%;
  text-align: center;
}

.customer{
  font-family: "Raleway1";
  font-size: 170%;
  color: white;
  margin-top: -17.4%;
  margin-left: 24%;
  text-align: center;
}

.bawahdua {
  font-family: "Raleway3";
  font-size: 110%;
  color: white;
  margin-top: 3%;
  margin-left: 22%;
  text-align: center;
}

.question{
  font-family: "Raleway1";
  font-size: 170%;
  color: white;
  margin-top: -13%;
  margin-left: 70%;
  text-align: center;
}

.bawahtiga {
  font-family: "Raleway3";
  font-size: 110%;
  color: white;
  margin-top: 2.9%;
  margin-left:  67%;
  text-align: center;
}

.gambar {
  width: 20%;
  height: 20%;
  margin-top: -14%;
  margin-left: 70%;
}

}
@media screen and (max-width: 768px){

}
