@font-face {
  font-family: "Raleway-Black";
  src: url("Raleway-Black.ttf");
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src:url("Raleway-Regular.ttf");
}
h1{
  color: #03ffcc;
  font-size: 36pt;
  margin-bottom: -80px;
  font-family: "Raleway-Black";
}

body {
  background-image:url("register-bg.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
.login{
     margin-top: 100px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 35px;
     width: 400px;
     padding: 10px;
     background: rgba(7, 219, 276, 0.8);
     border-radius: 5px;
 }
 input[type="email"]{
     margin-top: 5px auto;
     width: 373px;
     padding: 10px;
     font-size: 16px;
 }
 input[type="password"]{
     margin-top: 5px auto;
     width: 373px;
     padding: 10px;
     font-size: 16px;
   }
   button[type=submit]{
     font-family: "Raleway-SemiBold";
     padding: 3px;
     border: 10px;
     background: white;
     color: #00FFCC;
     cursor: pointer;
     font-size: 20px;
     margin-left: auto;
     width: 400px;
     border-radius: 5px;
     padding: 7px
   }

    button[type="submit"]:hover {
      background:#03ffcc;
      color: white;
    }
    .regist-login{
      margin-left: 220px;
      margin-top: -18px;
    }
    .regist-login a{
      color: white;}
