body{
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-size: 16px;
  color: #777;
  font-family: sans-serif;
  font-weight: 300;
}
.headerKanan{
  float: right;
  margin-top: -55px;
  margin-right: 60px;
}
.headerBox{
  width: 1278px;
  height: 100px;
  margin-top: auto;
  background: #DBDBDB;
}
.headerKiri{
  margin-left: 60px;
}
.imageIjen{
  width: 1278px;
}
.sosmed{
  margin-left: 400px;
}
.footertop{
  width: 1278px;
  height: 100px;
  background:#878787;
}
p{
  text-indent: 30px;
  font-family: "Raleway";
  font-size: 16px;
  margin-left: 60px;
  margin-right: 60px;
}
.gambarIjen{
  margin-left: 250px;
}
.gambarIjen1{
  float: right;
  margin-top: -200px;
  margin-right: 240px;
}
.saran1{
  margin-left: 90px;
}
.saran2{
  align-content: center;
  margin-top: -200px;
  margin-left: 475px;
}
.saran3{
  align-content: center;
  margin-top: -200px;
  margin-left: 855px;
}
h3{
  font-family: "Raleway";
  font-size: 45px;
}
h4{
  font-family: "SemiBold";
  font-size: 24px;
}
